<html>
    <head>
        <link href="/css/homepage.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <form method="POST" action="/api/journal">
            <label for="">Firstname</label>
            <br>
            <input type="text" name="firstname" id=""><br>
            <label for="">Lastname</label>
            <br/>
            <textarea type="text" name="lastname" id=""></textarea><br>
            <input type="checkbox" name="checkbox1" id="checkbox1" value="true">
            <label for="checkbox1">Checkbox 1</label><br>
            <input type="checkbox" name="checkbox2" id="checkbox2" value="true">
            <label for="checkbox2">Checkbox 2</label><br>
            <input type="checkbox" name="checkbox3" id="checkbox3" value="true">
            <label for="checkbox3">Checkbox 3</label><br>
            <input type="submit">
        </form>
        <a href="/journals">Journals</a>
        <br/>
        <a href="/purge">PURGE</a>
        <a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=23RTQD&scope=activity+cardio_fitness+electrocardiogram+heartrate+location+nutrition+oxygen_saturation+profile+respiratory_rate+settings+sleep+social+temperature+weight&code_challenge=k6u7HsTRk5XzLPsd7MQfw2k7l9i7i-5dtYR8rLm97Yk&code_challenge_method=S256&state=0h2o6g0f04040z2v175q0j6b444d0x0i&redirect_uri=https%3A%2F%2Ftsamentalhealthapp-0fee6615a9d9.herokuapp.com%2Fcallback">
FitBit authorize 
</a>
<br/>
<a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=23RVHM&scope=activity+cardio_fitness+electrocardiogram+heartrate+location+nutrition+oxygen_saturation+profile+respiratory_rate+settings+sleep+social+temperature+weight&code_challenge=N7t98bD4ZkJMDOMzJ7tLo1eccriHt8Z1Vch4ats_rvQ&code_challenge_method=S256&state=231x66622d3j5f5v4r4u3i481q1d4r68&redirect_uri=https%3A%2F%2Farcane-castle-84229-a0015ab2dc2b.herokuapp.com%2Fcallback">
    Test link FitBit authorize 
    </a>
        <% if(journals == null){ %>
            <p>None Avaliable</p>
        <% }else { %>
            <ul>
            
                <% for (todo of journals) { %>
        
                    <li><%= todo.firstname %></li>
        
                <% } %>
            </ul>

            <% } %>
        <h3>Recent Journals</h3>
        <% if(newJournal == null){ %>
        <p>None avaliable</p>
        <% }else { %>
            <p><%= newJournal %></p>
            <% } %>
    </body>
    
</html>
