<html>
    <body>
        <form method="POST" action="/api/journal">
            <label for="">Firstname</label>
            <br>
            <input type="text" name="firstname" id=""><br>
            <label for="">Lastname</label>
            <br/>
            <textarea type="text" name="lastname" id=""></textarea><br>
            <input type="checkbox" name="checkbox1" id="checkbox1" value="true">
            <label for="checkbox1">Checkbox 1</label><br>
            <input type="checkbox" name="checkbox2" id="checkbox2" value="true">
            <label for="checkbox2">Checkbox 2</label><br>
            <input type="checkbox" name="checkbox3" id="checkbox3" value="true">
            <label for="checkbox3">Checkbox 3</label><br>
            <input type="submit">
        </form>
        <a href="/journals">Journals</a>
        <br/>
        <a href="/purge">PURGE</a>
        <a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=23RTQD&scope=activity+cardio_fitness+electrocardiogram+heartrate+location+nutrition+oxygen_saturation+profile+respiratory_rate+settings+sleep+social+temperature+weight&code_challenge=CtMJGyITB9-jb38HM1WVXSFEzAJ3gkJ3ogfvqv0OM8c&code_challenge_method=S256&state=496x18041i2b684c132f2d1m196f3z16">
FitBit authorize 
</a>

<a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=23RVHM&scope=activity+cardio_fitness+electrocardiogram+heartrate+location+nutrition+oxygen_saturation+profile+respiratory_rate+settings+sleep+social+temperature+weight&code_challenge=N7t98bD4ZkJMDOMzJ7tLo1eccriHt8Z1Vch4ats_rvQ&code_challenge_method=S256&state=231x66622d3j5f5v4r4u3i481q1d4r68&redirect_uri=https%3A%2F%2Farcane-castle-84229-a0015ab2dc2b.herokuapp.com%2Fcallback">
    test FitBit authorize 
    </a>
        <% if(journals == null){ %>
            <p>None Avaliable</p>
        <% }else { %>
            <ul>
            
                <% for (todo of journals) { %>
        
                    <li><%= todo.firstname %></li>
        
                <% } %>
            </ul>

            <% } %>
        <h3>Recent Journals</h3>
        <% if(newJournal == null){ %>
        <p>None avaliable</p>
        <% }else { %>
            <p><%= newJournal %></p>
            <% } %>
    </body>
</html>
