<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
        
<meta charset="UTF-8">

        <script type = "text/javascript" src="/js/homepage.js" > </script>

    </head>
    <body>
        <div class="navbar">
               
            <div id = "titleBox">
                <img src = "https://cdn-icons-png.flaticon.com/512/4773/4773146.png">
            </div>
            <div id = "titleBox">
                    Hawk Health
            </div>
        <a href="/">Home</a>
        <a href="/journals">Journals</a>
    
<a href="/fitbit">
            Fitbit</a>
                    
<a href="/fitbit/test">
Test Fitbit</a>
</div>    
                    <div class="container">
                        <div>
                            <img id = "avatar" src="https://cdn-icons-png.freepik.com/256/552/552721.png" alt="Avatar">
                        </div>
                        <div>
                            <a href = "/auth/signup">
                                <button class = "button">
                                    
                                        <div class = "buttonText">
                                            LOG IN
                                       
                                    </div>
                                    
                                </button>
                            </a>
                        </div>
                        
                        <div>
                            <a href = "/auth/signup">
                                <button class = "button">
                                    <div class = "buttondiv">
                                        <div class = "buttonText">
                                            SIGN UP
                                        </div>
                                    </div>
                                    
                                </button>
                            </a>
                        </div>      
                            
          
                    </div>

</body>
    
</html>
