<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<meta charset="UTF-8">

        <script type = "text/javascript" src="/js/homepage.js" > </script>

    </head>
    <body>
        <div class="navbar">
               
            <div id = "titleBox">
                <img src = "https://cdn-icons-png.flaticon.com/512/4773/4773146.png">
            </div>
            <div id = "titleBox">
                    Hawk Health
            </div>
       
</div>    
                    <div class="container">
                        <h1> Welcome to Hawk Health!  </h1>
                        <h4>Please Sign Up or Log In to access your portal</h4>
                        <div>
                            <img id = "avatar" src="https://cdn-icons-png.freepik.com/256/552/552721.png" alt="Avatar">
                        </div>
                        <div>
                            <a href = "/auth/login">
                                <button class = "button">
                                    
                                        <div class = "buttonText">
                                            LOG IN
                                       
                                    </div>
                                    
                                </button>
                            </a>
                        </div>
                        
                        <div>
                            <a href = "/auth/signup">
                                <button class = "button">
                                    <div class = "buttondiv">
                                        <div class = "buttonText">
                                            SIGN UP
                                        </div>
                                    </div>
                                    
                                </button>
                            </a>
                        </div>      
                            
          
                    </div>

</body>
    
</html>
