<html>
    <body>
        <!--
 <% if(sleepData == null){ %>
            <p>None Avaliable</p>
        <% }else { %>
            <%}%>

        -->
       
        
            <form method="POST" action="/doctor/fitbit/sleep/:minDate/:maxdate">
                <input type="date"
               id="MinDatetimeLocal"
               min="2015-01-01T00:00"
               max="2025-12-31T23:59"
               step="1"> 
               <label for="MinDatetimeLocal">Start Date</label><br>
               <input type="date"
               id="MaxDatetimeLocal"
               min="2015-01-01T00:00"
               max="2025-12-31T23:59"
               step="1"> 
               <label for="MinDatetimeLocal">End Date</label><br>
               <input type="submit" onclick="formSubmit()">
            </form>
       <!--

       -->        
      
    </body>
</html>
