.container{
    height:auto;
}
body{
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
}
.block{
   
    width:100%;
    background-color:  #EAEFF1;
    text-align: center;
    text-decoration: wavy;
    margin-bottom:0;
    padding-bottom:10px;
    
}
#blockthree{
    display: flex;
    justify-content: space-between;
    align-items: center;
  display: flex;
  flex-direction: column;
  width:10%;
 padding: 50px;
 padding-top: 5px;
  border-right: solid;
}
#blocktwo{
    border-top: solid;
}
.flex-container{
    display: flex;
    width:100%;
    
}
body{
    margin:0;
}
.header{
    padding: 1px;
    text-align: center;
    background: #488E7A;
    color: #BDE1CE;
    font-size: 30px;
    /*width:80%; */
    
}
#avatar{
  margin-top: 5%;
  width:200px;
  height:200px;
}
.navbar {
	border-bottom: 2px solid black;
	width: 90%; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position: relative;
}
.navbar a {
	text-decoration: none;
	color: black;
	padding: 1rem;
    transition: .5s all;
    height:auto;
    display: inline-block;
}
.navbar a:hover {
	text-decoration: none;
    background-color: black;
	color: white;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  font-size: 30px; 
  height:auto;
  width: 100%;
  text-align: center;
  line-height: 1%;
  
  
}

.button{
  border-radius: 25px;
  width:40em;
  height: 120px;
  text-align: center;
  border: 2px solid rgb(113, 179, 214);
  background-color: rgb(113, 179, 214);
  transition: 1s;
  margin: 30px;
  padding: 20px;
}
.button:hover{
  color:white;
}
.buttonText{
  font-size: 50px;
}
#titleBox{
  font-size: 40px;
}
.navbar {
	border-bottom: 2px solid black;
	width: 90%; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    position: relative;
    display:flex;
}

.navbar #titleBox img {
   width:50px;
   padding-right:3px;
}
.navbar #titleBox {
    padding:3px;
    font-size: 40px;
 }
.navbar a {
	text-decoration: none;
	color: black;
	padding: 1rem;
    transition: .5s all;
    height:auto;
    display: inline-block;
}
.navbar a:hover {
	text-decoration: none;
    background-color: black;
	color: white;
}