

h1 {
    background-image: linear-gradient(to right, rgba(145, 243, 192, 0.802), rgba(149, 192, 249, 0.789));
    text-align: center;
    background-color: #BDE1CE;
    color: black;
    padding: 1.5%;
    font-family: "Georgia", serif;
}

h2 {
    text-align: center;
    background-color: #cae5d7;
    padding: 1%;
    font-family: "Georgia", serif;
}

text{
    padding: none;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #EAEFF1;
}


.checkboxes {
    padding: 0.5%;
    font-size: 20px;
}

#checkText {
    font-size: larger;
    color: rgb(1, 29, 66);
}

#button {
    background-color: white;
    border: none;
}